<!DOCTYPE html>
<html>
<head>
	<title>Counter</title>
</head>
<body>
	<h1 style="text-align: center; margin-top: 40px;">Counter</h1>
	<h2 style="text-align: center; margin-top: 40px;"><%= counter %> times</h2>
	<div style="text-align: center; margin-top: 40px;">
		<a href="/double"><button style="font-size: 20px;">+2</button></a>
	</div>
	<div style="text-align: center; margin-top: 40px;">
		<a href="/reset"><button style="font-size: 20px;">Reset</button></a>
	</div>

</body>
</html>